* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 90%;
    margin: 0 auto;
}

.parent {
    margin-top: 20px;
    display: flex;
    flex-direction:column;
    justify-content: space-between;
}

.box {
    margin:10px;
    position: relative;
    width: 80%;
    height: 100px; 
    color: grey;
    background-color: white; 
    font-size:30px;
    vertical-align:middle;

}

.box::before {
    position: absolute;
    height: 6px; 
    width: 100%;
    content: "";
    bottom: 0; 
    left: 0;
    background: linear-gradient(to right, red 50%,  rgb(34, 129, 113) 50% );
    border-radius:20%;
}

.textElzero{
    color:black;
}
