div{
    text-align:center;
    margin:20px;
}
.italic{
    font-family: 'Georgia', serif;
    font-style: italic;
    font-size: 40px;
}

.bold{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 60px;
    font-style:normal;
}

.small{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 30px;
}