*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}
.container{
     width:90%;
     margin:0 auto;
}
.parent{
    display:flex;
    justify-content:space-between;
    
}
.box{
    background-color:rgb(230, 59, 59);
    width:400px;
    height:80px;
    margin:20px;
    font-size:40px;
    text-align:center;
    vertical-align:middle;
    color:white;
}
.space{
    margin-top:30%
}