div{
    color:white; 
    width: 700px;
    height: 40px;
    padding:35px;
    margin:20px;
    font-size:30px;
}
.first-div{
 background-color:rgba(143, 22, 190, 0.84);
}

.second-div{
    background-color:rgba(143, 22, 190, 0.5);
}
.third-div{
    background-color:rgba(143, 22, 190, 0.1);
}