div{
    background-color:rgb(235, 232, 232);;
    padding:40px;
    width:900px;
    height:20px;
    margin :auto;
    font-size:30px;
}
.note-1{
    position:relative;
    margin-bottom:100px;
}

.note-1::before{
     position:absolute;
     background-color:rgb(214, 96, 96);
     content:"";
     height:80%;
     width:10px;
     top:10%;
     left:10px;
}

.note-2{
    position:relative;
    margin-bottom:100px;
}

.note-2::before{
     position:absolute;
     background-color:rgb(8, 170, 162);
     content:"";
     height:80%;
     width:10px;
     top:10%;
     left:10px;
}

