div{
    display:inline-block;
    background-image: url("background.png"); 
    width: 530px; 
    height: 530px;
    padding:30px;
    margin:20px;
    background-color:rgb(226, 225, 225);
    font-size:20px;
    color:rgb(226,225,225);
    
}
.Shape-1 {
    background-repeat:no-repeat;  
}
.Shape-2 {
    background-repeat: repeat-y;
}
.Shape-3 {
    background-repeat: repeat-x;
}
.Shape-4 {
    background-repeat: repeat;
}




 