th{
    background-color:black;
    color:white;
    height:50px;
    width:120px;
    text-align:center;
}
img{
    height:60px;
    width:60px;  
}

td{
    height:50px;
    width:120px;
    text-align:center;
}

#Viewing{
    background-color:rgb(129, 151, 224);
    color:white;
    border-color:white;
}

#removing{
    background-color:rgb(202, 54, 111);
    color:white; 
    border-color:white;
}