div{
    text-align:center;
    vertical-align: middle;
    font-size:30px;
    margin:10px;
    background-color:rgba(230, 230, 230, 0.95);
    height:70px;
}
.Full{
    width:90%;
}
.one-third{
    display: inline-block;
    width:28.8%;
}
.half{
    display: inline-block;
    width:44%;
}
.quatre{
    display: inline-block;
    width:21.2%;
}