* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

.header {
  margin: auto;
  position: absolute;
  z-index: 5;
  left: 0;
  width: 100%;
}
.header .container {
  height: 100px;
  width: 80%;
  padding: 0 15px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.header .container::after {
  position: absolute;
  content: "";
  background-color: #a2a2a2;
  width: calc(100% - 30px);
  height: 1px;
  bottom: 1px;
  z-index: 1;
}
.header .container nav {
  display: flex;
  flex: 1;
  gap: 30px;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
}
.header .container nav .toggle-menu {
  color: white;
  size: 22px;
}
@media (min-width: 768px) {
  .header .container nav .toggle-menu {
    display: none;
  }
}
@media (max-width: 767px) {
  .header .container nav .toggle-menu:hover + ul {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 100%;
    width: 100%;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .header .container nav .toggle-menu:hover + ul a {
    padding: 15px;
  }
}
.header .container nav div {
  width: 40px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
}
.header .container nav div i {
  font-size: 22px;
  color: white;
}
.header .container nav div::before {
  position: absolute;
  height: 100%;
  width: 1px;
  content: "";
  background-color: white;
  left: 0;
}
.header .container nav ul {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
  z-index: 2;
}
@media (max-width: 767px) {
  .header .container nav ul {
    display: none;
  }
}
.header .container nav ul li {
  display: inline-block;
  width: 70px;
}
.header .container nav ul li a {
  text-decoration: none;
  font-size: 14px;
  color: white;
  display: block;
  height: 100%;
  padding: 40px 10px;
  position: relative;
  transition: border-bottom 3s ease-in-out;
}
.header .container nav ul li a.blue-active {
  color: #19c8fa;
  border-bottom: 1px solid #19c8fa;
}
.header .container nav ul li a::after {
  position: absolute;
  height: 1px;
  bottom: 0;
  background-color: #19c8fa;
  content: "";
  transition: width 0.1s ease-in-out;
  width: 0;
  left: 0;
  bottom: -1px;
}
.header .container nav ul li a:hover::after {
  width: 100%;
}

.landing {
  height: 100vh;
  background-size: cover;
  position: relative;
  background-image: url("https://elzerowebschool.github.io/HTML_And_CSS_Template_Two/images/landing.jpg");
}
.landing .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}
.landing .text {
  position: absolute;
  background-color: rgba(15, 116, 143, 0.7);
  top: 50%;
  color: white;
  width: 50%;
  padding: 40px;
  transform: translateY(-50%);
  display: flex;
  justify-content: flex-end;
}
@media (max-width: 767px) {
  .landing .text {
    width: 100%;
  }
}
.landing .text .container-text {
  width: 500px;
}
.landing .text .container-text p {
  font-size: 14px;
  line-height: 2;
}
.landing .text .container-text h1 {
  font-size: 32px;
  font-weight: normal;
  line-height: 1.5;
  margin-bottom: 20px;
}
.landing i {
  position: absolute;
  color: white;
  padding: 20px;
  font-size: 25px;
}
.landing i:first-of-type {
  top: 50%;
}
.landing i:last-of-type {
  top: 50%;
  right: 0;
}
.landing .circles {
  position: absolute;
  display: flex;
  flex-direction: row;
  gap: 10px;
  bottom: 5%;
  right: 48%;
  list-style: none;
}
.landing .circles li {
  width: 20px;
  height: 20px;
  border: 1px solid white;
  border-radius: 50%;
}
.landing .circles li.blue-active {
  background-color: #19c8fa;
  border: #19c8fa;
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}/*# sourceMappingURL=temp2.css.map */