$active :#19c8fa;
*{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
   font-family: "Open Sans", sans-serif;
}
.header {
     margin: auto;
     position: absolute;
     z-index: 5;
     left: 0;
     width: 100%;

     
    .container {
        height: 100px;
        width: 80%;
        padding: 0 15px;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        &::after{
            position: absolute;
            content: "";
            background-color: #a2a2a2;
            width: calc(100% - 30px);
            height: 1px;
            bottom: 1px;
            z-index: 1;
            }
        
        nav {
            display: flex;
            flex: 1;
            gap: 30px;
            justify-content: flex-end; 
            align-items: center;
            height: 100%;
            .toggle-menu{
             color: white;
             size: 22px;
            // position: relative;
             @media (min-width:768px) {
                display: none;
            }
            @media (max-width:767px) {
                &:hover + ul{
                    position: absolute;
                    display: flex;
                    flex-direction: column;
                    top:100%;
                   width: 100%;
                    left: 0;
                    background-color: rgb(0 0 0 / 50% );
                    a{
                        padding: 15px;
                    }
                    
                }
            }
        }
            
           
            div {
                width: 40px;
                height: 30px;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                position: relative;
                i {
                
                    font-size: 22px;
                    color: white;
                    
                }
                &::before{
                    position: absolute;
                    height: 100%;
                    width: 1px;
                    content: "";
                    background-color: white;
                    left:0;
                }
            }

            ul {
                @media (max-width:767px) {
                    display: none;
                }
                display: flex;
                align-items: center;
                list-style: none;
                padding: 0;
                margin: 0;
                z-index: 2;
                li {
                    display: inline-block;
                    width: 70px;

                    a {
                        text-decoration: none;
                        font-size: 14px;
                        color: white;
                        display: block;
                        height: 100%;
                        padding: 40px 10px;
                        position: relative;
                        transition: border-bottom 3s ease-in-out;
                        //border-bottom: 0;
                        &.blue-active {
                            color: $active;
                            border-bottom: 1px solid $active;
                        }
                        &::after{
                         position: absolute;
                         height: 1px;
                         bottom: 0;
                         background-color:$active ;
                         content: "";
                         transition: width 0.1s ease-in-out;
                         width: 0;
                         left:0;
                         bottom: -1px;
                        }
                        &:hover::after{
                            width: 100%;
                         }
                        }   
                }
               
                 
        }
    }
}
    }



.landing{
    height: 100vh;
    background-size: cover;
    position: relative;
    background-image: url('https://elzerowebschool.github.io/HTML_And_CSS_Template_Two/images/landing.jpg');
   
    .overlay{
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgb(0 0 0 / 60%); 
    }
      
    .text{
      position: absolute;
      background-color: rgba(15,116,143,0.7);  
      top: 50%;
      color: white;
      width: 50%;
      padding: 40px;
      transform: translateY(-50%);
      display: flex;
      justify-content: flex-end;
      @media (max-width:767px) {
        width: 100%;
      }
      .container-text{
        width: 500px;
        p{
            // padding: 20px;
             font-size: 14px;
             line-height: 2;
           }
           h1{
             font-size: 32px;
         font-weight: normal;
         line-height: 1.5;
         margin-bottom: 20px;
           }
      }
     
      }
      i{
        position: absolute;
        color: white;
        padding: 20px;
        font-size: 25px;
      }
      i:first-of-type{
        top:50%;
      }
      i:last-of-type{
        top:50%;
        right: 0;
      }
      .circles{
        position: absolute;
        display: flex;
        flex-direction: row;
        gap:10px;
        bottom:5%;
        right:48%;
        list-style: none;
        li{
            
    width: 20px;
    height: 20px;
    border: 1px solid white;
    border-radius: 50%;
    &.blue-active{
        background-color: $active;
        border:$active;
       
    }
        }
      }
    }
    @media (min-width: 1200px) {
        .container {
            width: 1170px;
        }
    }
    
    @media (min-width: 992px) {
        .container {
            width: 970px;
        }
    }
   @media (min-width: 768px) {
        .container {
            width: 750px;
        }
    }
